.o_checklist_colour_badges {
    .o_selection_badge[style] {
        border-width: 2px;

        &:not(.active):hover {
            opacity: 0.8;
        }
    }

    .o_checklist_colour_badge {
        font-size: 0.9rem;
        padding: 0.35em 0.9em;
    }
}
